.table tr td:hover:nth-child(4){
    background-color:red !important;
    width:200px;
    text-align:center;
   }
   
   .table tr td:hover:nth-child(4){
    background-color:green !important;
    /* width:200px;
    text-align:center; */
   }

   tr:hover{
    background-color: #ffa;
   }

   td:hover::after,
   th:hover::after{
    content: "";
    position:absolute;
    background-color: white;
    z-index: -1;
   }

   /* tr:nth-child(2){
    background: green;
   }

   tr:first-child + td{
    color:red;


   } */